<% if current_admin %>
    <%= link_to('登出', destroy_admin_session_path, :method => :delete) %>
    <%= link_to "開團", new_activity_path,:method=>:get %>
<% else %>
    <%= link_to "Log in", new_admin_session_url %>
    <%= link_to "Sign up", new_admin_registration_url %>
<% end %>
<% @activities.each do |activity| %>
    <table>
        <thead>
            <tr>
                <th>團名</th>
                <th>目前數量</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= activity.title %></td>
                <td><%= activity.cur_quantity %></td>
            </tr>
        </tbody>
    </table>
    <%= link_to "Show",activity_path(activity),:method=>:get %>
    <br/>
<% end %>
