<br><br><br>

<h2 style="width: 80%"> 目前的團 </h2>

<br><br><br>

<div style="background: white; padding: 0; width: 80%">

<% @activities.each do |activity| %>



    <div class="act col-md-6 col-sm-6 col-xs-12" style="   height: 45vh;">

    <table style="font-size: 2em;  background: #ffecd1; text-align: center; border: 10px solid #c9ad8b; border-radius: 5px;">
        <thead>
            <tr >
                <th style="text-align: center;">團名</th>
                <th style="text-align: center;">目前數量/目標</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= Shop.find_by(:id=>activity.shop_id).name %></td>
                <td><%= activity.cur_quantity %>/<%= activity.est_quantity %></td>
            </tr>
            <tr>
                <td style="background-color: transparent;"><b>截止時間</b></td>
                <td style="background-color: transparent;"><b>詳細資料</b></td>

            </tr>
            <tr>
                <td><%= activity.cuttime.month %>/<%= activity.cuttime.day %></td>
                <td><%= link_to "Show",activity_path(activity),:method=>:get %></td>
            </tr>
            <tr>
                <td style="background-color: transparent;"><b>跟團++</b></td>
            </tr>
            <tr>
                
                <td><%= link_to "++", new_order_url(:activity=>activity.id),:method=>:get %></td>
            </tr>
            <tr>
                <td style="background-color: transparent;">&nbsp;</td>
                <td style="background-color: transparent;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
    
    
<% end %>
</div>